* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dcd6f7, #f5f3ff);
    width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #6c63ff;
    padding: 0.5vh 1vh;
    border-radius: 0.5rem;
    margin: 1vh 0;
}

h2 {
    margin-bottom: 2vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;
    padding: 2vh;
    gap: 2vh;
}

footer {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c63ff;
    border-radius: 1rem;
    padding: 2vh;
    height: fit-content;
}

footer div {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: center;

}

.a {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #6c63ff;
    vertical-align: middle;
}

.icono {
    width: 20px;
    height: auto;
    margin-right: 1vh;
    vertical-align: middle;
}

header nav a {
    margin: 0.5vh 0 0.5vh 2vh;
    text-decoration: none;
    color: #6c63ff;
    font-weight: bold;
    font-size: 20px;
    background-color: #dcd6f7;
    padding: 1vh;
    border-radius: 0.5rem;
}

.b {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
}

.b-filtro details {
    width: 100%;
}

.b-filtro details input[type="range"] {
    width: 100%;
}

.b-filtro summary {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #6c63ff;
    padding: 0.5vh 1vh;
    border-radius: 0.5rem;
    margin: 1vh 0;
}

.b-filtro details input[type="checkbox"]{
    margin-left: 1vh;
}

.c {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 3vh;
    grid-column: 2 / 4;
}

.card {
    background: white;
    border-radius: 1rem;
    padding: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5rem;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    margin: 1vh 0;
}

.logo-card {
    width: 80px;
    height: auto;
}

.d {
    grid-column: 1 / 4;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 2vh;
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1vh;
        padding: 1vh;
    }

    .a,
    .b,
    .c,
    .d {
        grid-column: 1;
        padding: 1vh;
    }

    .logo {
        font-size: 1.2rem;
    }

    header nav a {
        font-size: 12px;
        padding: 0.1vh 0.5vh;
    }

    p {
        font-size: 0.5rem;
        padding-left: 2.5vh;
        
    }
    h2{
        font-size: 1rem;
        padding: 1vh 1vh;
    }
    h4{
        font-size: 0.4rem;
    }

    .b-filtro summary {
        font-size: 1rem;
        padding: 0.3vh 0.5vh;
    }

    button {
        font-size: 12px;
        padding: 0.5vh 1vh;
    }

    footer {
        grid-column: 1;
        grid-row: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0.5vh;
    }

    footer div p {
        font-size: 0.9rem;
        margin: 0.1vh;
    }

    .card {
        padding: 1vh;
        flex-direction: row;
    }

    .logo-card {
        width: 40px;
    }

    .icono {
        width: 7px;
    }
}

