.main-iniciar-sesion {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    align-self: center;
}

.main-iniciar-sesion p {
    font-size: 1rem;
}

.grid-iniciar-sesion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 1fr 12vh;
    min-height: 100vh;
    width: 100%;
    padding: 2vh;
    gap: 2vh;
}

.main-iniciar-sesion form {
    width: 80%;
}

.main-iniciar-sesion p {
    all: unset;
    display: block;
}

.main-iniciar-sesion input {
    padding: .5rem;
    width: 100%;
    margin-bottom: 1.7rem;
    border-radius: 6px;
    border: 1px solid gray;
}

.main-iniciar-sesion button {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .grid-iniciar-sesion {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .main-iniciar-sesion {
        grid-column: 1 / 2;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-iniciar-sesion form {
        width: 95%;
    }
}