* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dcd6f7, #f5f3ff);
}

p{
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #6c63ff;
    padding: 0.5vh 1vh;
    border-radius: 0.5rem;
    margin: 1vh 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 12vh 1fr 12vh;
    min-height: 100vh;
    width: 100vw;
    padding: 2vh;
    gap: 2vh;
}

footer {
    grid-column: 1 / 4;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c63ff;
    border-radius: 1rem;
    padding: 2vh;
    text-align: center;
}

.a {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background: rgba(255,255,255,0.6);
    border-radius: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #6c63ff;
}

header nav a {
    margin-left: 2vh;
    text-decoration: none;
    color: #6c63ff;
    font-weight: bold;
    font-size: 20px;
    background-color: #dcd6f7;
    padding: 0.2vh 0.3vh;
    border-radius: 0.5rem;
}

.menu-usuario a {
    font-size: 1.17rem;
    text-decoration: none;
    gap: 1rem;
    color: #6c63ff;
    background: white;
    border-radius: 1rem;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-usuario ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-usuario a:hover {
    background: #8987b8;
    color: white;
}

.menu-usuario {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.b {
    background: rgba(255,255,255,0.6);
    border-radius: 1rem;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    grid-row: 2/3;
}

.c {
    background: rgba(255,255,255,0.6);
    border-radius: 1rem;
    padding: 2vh;
    overflow-y: auto;
    grid-column: 2 / 4;
}
.c .main-perfil-vacio{
    width: 100%;
}
.c .main-perfil-vacio img {
    width: 35%;
    max-width: 35rem;
    min-width: 15rem;
    height: auto;
    margin: 2rem auto;
    display: block;
}

.d{
        background: rgba(255,255,255,0.6);
        border-radius: 1rem;
        padding: 2vh;
        grid-column: 1 / 4;
        grid-row: 3;
}

.card {
    background: white;
    border-radius: 1rem;
    padding: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5rem;
    background: #6c63ff;
    color: white;
    cursor: pointer;
}

/* LATERAL DERECHO */
.d {
    background: rgba(255,255,255,0.6);
    border-radius: 1rem;
    padding: 2vh;
}

/* RESPONSIVE */        /* AGRANDAR UN POCO EL MAX-WIDTH PARA QUE NO SEA DEMASIADO AJUSTADO*/
@media (max-width: 480px) {

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .a, .b, .c, .d {
        grid-column: 1;
    }
    nav a {
    margin-left: 2vh;
    text-decoration: none;
    color: #6c63ff;
    font-weight: bold;
    font-size: 10px;
    background-color: #dcd6f7;
    padding: 0.2vh 0.3vh;
    border-radius: 0.5rem;
}
button {
    padding: 0.5vh 1vh;
    font-size: 14px;

}
}