button {
    font-size: 1rem;
    padding: 1rem;
}

.c .main-perfil-vacio {
    width: 100%;
}

.c .main-perfil-vacio img {
    width: 35%;
    max-width: 35rem;
    min-width: 15rem;
    height: auto;
    margin: 2rem auto;
    display: block;
}

.c-perfil fieldset {
    padding: 0.5rem;
}

.c-perfil p {
    all: unset;
    /* esto borra los estilos seteados con anetrioridad */
    display: block;
    margin: 0.5em 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.c-perfil #field-datos {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem 2rem;
}

.form-nombre {
    grid-column: 1/2;
    grid-row: 1/2;
}

.form-apellido {
    grid-column: 2/3;
    grid-row: 1/2;
}

.form-fec-nac {
    grid-column: 1/2;
    grid-row: 3/4;
}

.form-genero {
    grid-column: 2/3;
    grid-row: 2/3;
}

.form-nacionalidad {
    grid-column: 1/2;
    grid-row: 2/3;
}

.form-boton {
    grid-column: 2/3;
    grid-row: 3/4;
}

.contenedor-gral {
    margin: 1.5rem 0;
}

.contenedor-gral:first-child {
    margin: 0;
}

.c-perfil fieldset {
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.c-perfil .form-nombre label {
    display: flex;
    flex-direction: column;
}

.c-perfil .form-apellido label {
    display: flex;
    flex-direction: column;
}

.c-perfil .form-nacionalidad label {
    display: flex;
    flex-direction: column;
}

.c-perfil .form-genero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-perfil .form-genero div {
    padding: 0.5rem 0;
}

.c-perfil .form-fec-nac label {
    display: flex;
    flex-direction: column;
}

.c-perfil input {
    border: 1px gray solid;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
}

.c-perfil select {
    border: 1px gray solid;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
}

.c-perfil summary {
    margin: 0.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #6c63ff;
    padding: 0.5vh 1vh;
    border-radius: 0.5rem;
    margin: 1vh 0;
}

.c-perfil .correo-verificado span {
    font-size: 0.8rem;
    padding: 0 1.2rem 0 0;
    color: gray;
    border-right: 1px solid gray;
}

.c-perfil .correo-verificado span:last-child {
    padding-left: 1rem;
    padding-right: 0;
    border: none;
}

.c-perfil .form-tel div {
    display: flex;
    flex-wrap: wrap;
}

.c-perfil #field-tel .label {
    display: flex;
    flex-direction: column;
}

.c-perfil .form-tel label {
    margin: 0.5 1rem;
}

.c-perfil .form-tel label:first-child {
    margin-left: 0;
}

.c-perfil .contenedor-labels-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}

#field-tel .form-boton,
#field-email .form-boton {
    grid-column: 1/2;
    grid-row: 2/3;
}
#field-tarjeta .form-boton,
#field-facturacion .form-boton {
    grid-column: 1/2;
    grid-row: 3/4;
}

.menu-usuario a {
    font-size: 1.17rem;
    text-decoration: none;
    gap: 1rem;
    color: #6c63ff;
    background: white;
    border-radius: 1rem;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-usuario ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-usuario .active {
    background: #6c63ff;
    color: white;
}

.menu-usuario .active:hover {
    background: #6c63ff;
}

.menu-usuario a:hover {
    background: #8987b8;
    color: white;
}

.menu-usuario {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.body-perfil #field-tarjeta .contenedor-labels-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.body-perfil #field-facturacion .contenedor-labels-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.c-perfil-sesiones .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c-perfil-sesiones .card .contenedor-ultima-sesion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 3rem;
}

.c-perfil-sesiones .card .contenedor-ultima-sesion div {
    display: flex;
    flex-wrap: wrap;
}

.c-perfil-sesiones .card .contenedor-ultima-sesion img {
    height: 3rem;
    width: auto;
    margin: 0 1rem;
}

.c-perfil-sesiones .card .texto-ultima-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-perfil-sesiones .card .texto-ultima-sesion .ultimo-acceso {
    color: gray;
}

.contenedor-ultima-sesion {
    margin: 1rem 0;
}

.trashcan-icon {
    width: 1rem;
    height: auto;
    margin-left: auto;
}

.contenido-extra {
    background-color: rgb(224, 224, 224);
    padding: 0.2rem;
    font-size: 0.8rem;
    padding-left: .5rem;
}

.form-eliminar .contenedores {
    margin: 0.25rem 0;
}
.form-eliminar .contenedores .contenido-extra {
    margin: 0.25rem;
}
.form-eliminar input[type="text"]{
    width: 50%;
    height: 3rem;
}
.btn-eliminar {
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5rem;
    background: #c21010;
    color: white;
    cursor: pointer;
}
.btn-eliminar:hover {
    background: #a81313;
}
.btn-cancelar {
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5rem;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    text-decoration: none;
}